# Taking  inputs from user
First_num = int(input("Enter first no: "))
operator = (input("Enter the operator (+,-,*,/,%): "))
Second_num = int(input("Enter second num: "))

# Applying conditions
if operator == ("+"):
    print(First_num + Second_num)

elif operator == ("-"):
    print(First_num - Second_num)

elif operator == ("*"):
    print(First_num * Second_num)

elif operator == ("/"):
    print(First_num / Second_num)

elif operator == ("%"):
    print(First_num % Second_num)

else:
    print("Invalid Operation")
